#nav-div {
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto; 
}

#nav-bar {
    display: flex;
    width: 40%;
}

.box {
    flex: 1;
}