* {
    padding: unset;
    margin: unset
}

body {
    background-color: rgb(255, 255, 255);

}

.background-index {
}

@media screen and (min-width: 1920px) {
    body {
        background-color: rgb(255, 255, 255);
    }
  }
